name: Run ASG Monitoring Script Daily

on:
  #schedule:
  #  - cron: "30 18 * * *"   # 12:00 AM IST
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ap-south-1

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        env:
          # This maps your GitHub Secret to an Environment Variable the script can read
          EMAIL_SENDER: ${{ secrets.EMAIL_SENDER }} 
          # If your config.py also needs these, add them too:
          # SMTP_SERVER: ${{ secrets.SMTP_SERVER }} 
        run: python -u main.py
